<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>445542999675-f5de9p5975hib1ug4fsd4oh8gbssh3j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445542999675-f5de9p5975hib1ug4fsd4oh8gbssh3j7</string>
	<key>API_KEY</key>
	<string>AIzaSyBeV24nCBl7mTbJ7rfOBxItG4rI36oiBv8</string>
	<key>GCM_SENDER_ID</key>
	<string>445542999675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nyc.c4Q.AC4.3.FlashCardApp</string>
	<key>PROJECT_ID</key>
	<string>flashcard-app-f3c07</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcard-app-f3c07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445542999675:ios:bdb73a603a931cfa</string>
	<key>DATABASE_URL</key>
	<string>https://flashcard-app-f3c07.firebaseio.com</string>
</dict>
</plist>